body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #00457c;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.form-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #f9f9f9;
    text-align: center;
}

h1 {
    color: #00457c;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 80%;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #00457c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center; /* Añadido */
    display: flex; /* Añadido */
    justify-content: center; /* Añadido */
    align-items: center; /* Añadido */
}

button:hover {
    background-color: #003356;
}